//header

<body>
<div class="hero-image">
  <div class="hero-text">
    <h1>Crystal Clear Vision</h1>
    <p>Life Is Better With Clear Vision!</p>
    <button mat-raised-button>Shop Now</button>

  </div>
</div>
<header>Our Brands</header>
<div class="row">
  <div class="column">
    <img src="Armani.png" alt="Armani" style="width:100%">
  </div>
  <div class="column">
    <img src="Burberry.png" alt="Burberry" style="width:100%">
  </div>
  <div class="column">
    <img src="Coach.png" alt="Coach" style="width:100%">
  </div>
  <div class="column">
    <img src="RayBan.png" alt="Rayban" style="width:100%">
  </div>
  <div class="column">
    <img src="Oakley.png" alt="Oakley" style="width:100%">
  </div>
</div>


<header>Best Selling</header>



<product-component> </product-component>

  <div class="slogantext">
    <h1>Crysal Vision</h1>
    <p>By Andy Lin</p>
  </div>
</body>

// fotter
