<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app-footer.component.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Subscribe</h4>
        <p class="subscribe-p">Get 10% off your first order</p>
      </div>
      <div class="footer-col">
        <h4>Support</h4>
        <ul>
          <li><a href="#">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</a></li>
          <li><a href="#">CrystalOptical@gmail.com</a></li>
          <li><a href="#">+88015-88888-9999</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Account</h4>
        <ul>
          <li><a href="#">My Account</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/checkout">Cart</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="/browse">Shop</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Quick Link</h4>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms Of Use</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col-social">
        <h4>Download App</h4>
        <p class="newAppUser-p">Save $3 with App New User Only</p>
        <div class="get-app">
          <div class="align-app">
            <div class="qr-code">
              <img src="./assets/footer/qr-code.png" alt="QR Code" class="qrcode"/>
            </div>
            <div class="store-links">
              <img src="./assets/footer/google-play.png" alt="Google Play" class="google-play"/>
              <img src="./assets/footer/app-store.png" alt="App Store" class="app-store"/>
            </div>
          </div>
        </div>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        </div>
    </div>
  </div>
</footer>
</body>
