<body>
<div class="hero-image">
  <div class="hero-text">
    <h1>Crystal Clear Vision</h1>
    <p>Life Is Better With Clear Vision!</p>
    <button [routerLinkActive]="['active']" [routerLink]="['/browse']" mat-raised-button>Shop Now</button>
  </div>
</div>
<div class="slogantext">
  <h1>Our Brands</h1>
</div>
<div class="row">
  <div class="column">
    <img src="./assets/site/Armani.png" alt="Armani" style="width:100%">
  </div>
  <div class="column">
    <img src="./assets/site/Burberry.png" alt="Burberry" style="width:100%">
  </div>
  <div class="column">
    <img src="./assets/site/Coach.png" alt="Coach" style="width:100%">
  </div>
  <div class="column">
    <img src="./assets/site/RayBan.png" alt="Rayban" style="width:100%">
  </div>
  <div class="column">
    <img src="./assets/site/Oakley.png" alt="Oakley" style="width:100%">
  </div>
</div>


  <div class="slogantext">
    <h1>Crystal Vision</h1>
  </div>
</body>
