
/* Sourced from https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
.related-items-list-container {
  display: flex;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

}

.item {
  padding-right: 50px;
  padding-left: 50px;
  border: red solid 2px;
}
