<!DOCTYPE html>
<html>
<head>
  <title>Chatbox Example</title>
  <link rel="stylesheet" href="chatbot.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<button class="chat-btn">
  <div class="chat-icon">
    <i class="fa fa-comment"></i>
  </div>
</button>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Select an option:</h2>
    <ul>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
    </ul>
  </div>
</div>
</body>
</html>
