mat-grid-tile {
  background: white;
}
div.poop {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 200px;

}
img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  background-color: grey;
  position: relative;
}
.caption {
  display: block;
}
.container {
  position: relative;
}
.container img {
  display: block;
}
.container .fav {
  position: absolute;
  top: 0.2%;
  right: 10%;
}
