<div class="poop">
  <mat-card>
    <mat-card-header></mat-card-header>
    <div class="container">
      <img mat-card-image src="" />
      <button
        class="fav"
        mat-icon-button
        color="warn"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <span class="item">item.name</span>
    <span class="price">item.price</span>
<rating-component></rating-component>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
