<nav class="navbar">
  <ul>
    <li class="nav-logo"><img src="{{ imageList[0].imagePath }}" alt="Crystal Optical logo" class="logo"></li>
    <li class="nav-toggle">
      <i class="fas fa-bars"></i>
    </li>
    <li class="nav-links"><a href="#">Catalogue</a></li>
    <li class="nav-links"><a href="#">Favorite</a></li>
    <li class="nav-links"><a href="#">Support</a></li>
    <li class="nav-links"><img class="nav-icon" src="{{ imageList[1].imagePath }}" alt="profile icon"></li>
    <li class="nav-links"><img class="nav-icon" src="{{ imageList[2].imagePath }}" alt="cart icon"></li>
  </ul>
</nav>
