<app-header></app-header>
<checkout-title-header></checkout-title-header>
<checkout-item></checkout-item>

<div class="button-container">
  <div class="align-left"><button class="left-button" mat-raised-button >Return to Shop</button></div>
  <div class="align-right"><button class="right-button" mat-raised-button>Update Cart</button></div>
</div>
<br /><br /><br />

<div class="container-box">
<div class="inner-box">
  <div>
    <div class="total-container">
        <div class="inside-total-container"><p class="reduce-p-margin">Subtotal:</p></div>
        <div class="inside-total-container align-right"><p class="reduce-p-margin">$___</p></div>
    </div>
    <div class="hr-styling"><hr></div>
  </div>

  <div>
    <div class="total-container">
      <div class="inside-total-container"><p class="reduce-p-margin">Shipping:</p></div>
      <div class="inside-total-container align-right"><p class="reduce-p-margin">Free</p></div>
    </div>
    <div class="hr-styling"><hr></div>
  </div>

  <div>
    <div class="total-container">
      <div class="inside-total-container"><p class="reduce-p-margin">Total:</p></div>
      <div class="inside-total-container align-right"><p class="reduce-p-margin">$___</p></div>
    </div>
  </div>

  <div class="total-container">
    <div class="checkout-button-div"><button class="checkout-button" mat-raised-button>Proceed to Checkout</button></div>
  </div>
</div>
</div>

<br />
<p>&nbsp;</p>



