<nav class="navbar">
  <ul>
    <li class="nav-logo"><img src="../../../assets/header/Logo.png" alt="Crystal Optical logo" class="logo"></li>
    <h1 class="title">Crystal Optical</h1>
    <li class="nav-toggle">
      <i class="fas fa-bars"></i>
    </li>
    <li class="nav-links"><a href="#">Catalogue</a></li>
    <li class="nav-links"><a href="#">Favorite</a></li>
    <li class="nav-links"><a href="#">Support</a></li>
    <li class="nav-links"><img class="nav-icon" src="../assets/header/profile.png" alt="profile icon"></li>
    <li class="nav-links"><img class="nav-icon" src="../assets/header/Cartwithbuy.png" alt="cart icon"></li>
  </ul>
</nav>
