<ul>
  <li *ngFor="let item of items">
    id: {{item.id}}
    <br>

    name: {{item.name}}
    <br>
    price: {{item.price}}
    <br>
    brand: {{item.brand}}
    <br>
    frameSize: {{item.frameSize}}
    <br>
    colour: {{item.colour}}
    <br>
    rating: {{item.rating}}
    <br>
    ratingScore: {{item.ratingScore}}
    <br>
    ratingNumber: {{item.ratingNumber}}
    <br>
    itemStock: {{item.itemStock}}
    <br>
    imagePath: {{item.imagePath}}
    <br>
  </li>
</ul>
<br>

<button (click)="set()">set</button>
<button (click)="get()">get</button>
